a:hover {
    cursor:pointer;
}

body{
    background-color: #f4f4f4;
}
.element_on_page{
    background-color: white;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

nav{
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19) !important;
}

img{
    width: 100%;
}

.img_hvezda{
    max-width: 10em;
}
.span_datum{
    display: block;
    font-size: smaller;
}

#div_nabidka{
    float: right;
}

#h1_titulek, .h4_titulek{
    display: inline;
    text-overflow: ellipsis
}

.div_mini_clanek a{
    color: black;

}

.div_mini_clanek{
}

/* tablet */
@media screen and (min-width: 768px) {
    .element_on_page{
        max-width: 100%;
        margin: auto;
        text-align: left;
    }
    #div_vnitrek{
        padding: 30px 0px 40px 0px;
        width: 100vw;
        box-sizing: border-box;
        text-align: center;
    }


}

/* pc */
@media screen and (min-width: 992px) {
    .element_on_page{
        max-width: 60%;
        margin: auto;
        text-align: left;
    }
    #div_vnitrek{
        padding: 30px 30px 40px 30px;
        width: 100vw;
        box-sizing: border-box;
        text-align: center;
    }
}



